body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a25ced, #f5f2e8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 90, 237);
}

.container {
    display: flex;
    width: 750px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.left-box {
    width: 40%;
    background: url("https://images.unsplash.com/photo-1523275335684-37898b6baf30") no-repeat center/cover;
    padding: 30px;
    color: white;
    position: relative;
}

.left-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(140, 0, 180, 0.6);  
}

.left-box h2,
.left-box p {
    position: relative;
    z-index: 1;
}

.left-box h2 {
    margin-top: 180px;
    font-size: 28px;
}

.left-box .small {
    margin-top: 160px;
    font-size: 12px;
}

.form-box {
    width: 60%;
    padding: 40px;
    background: transparent;
}

label {
    font-size: 12px;
    font-weight: bold;
    color: #777;
    display: block;
    margin-top: 15px;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 8px 0;
    font-size: 15px;
    outline: none;
}


.success {
    border-bottom: 2px solid #2ecc71;
}


.warning {
    border-bottom: 2px solid #f1c40f;
}

.btn {
    margin-top: 25px;
    padding: 10px 30px;
    background: beige;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
.btn:hover{
    background-color: rgb(110, 89, 188);
    transform: translateY(2px);
     box-shadow: 0 0 15px #727fdeb4 ;
    opacity: 0.7s;
}
.sign {
    margin-top: 15px;
}

.sign a {
    color:  rgb(110, 89, 188);
    text-decoration: none;
    font-weight: bold;
}
